* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Azonix;
    src: url(azonix-font\Azonix-1VB0.otf);
}

html {
    background: #1E1E1E;
    color: white;
    text-rendering: optimizeLegibility;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.secItem {
    padding: 40px;
    display: flex;
}

.secItem li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 11;
}

a:hover {
    color: lightblue;
}

div img {
    display: inline;
    height: 50px;
    margin: 20px;
}

.hero {
    position: absolute;
    top: 25em;
}

.headline {
    font-family: Azonix;
    font-weight: 300;
    color: white;
    position: relative;
    font-size: 5rem;
    left: 400px;
    bottom: 155px;


}

#sec1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(./images/misc/scott-graham-5fNmWej4tAA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: -120px;
    z-index: 10;
}

.certif {
    height: 247px;
    width: 365px;
}

.certif:first-of-type {
    margin-left: 50px;
}

#sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    list-style-type: none;
}

h2 {
    font-family: azonix;
    color: gray;
    text-align: center;
    padding: 40px 0;
}

.width {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
}

footer h2 {
    font-size: large;
    font-weight: 400;
    color: #727a7a;
    font-size: 3rem;

}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    color: rgba(64, 224, 208, 0.358);
    padding: 30px;
}

.socials a:hover {
    color: #727a7a;
}

.socials span {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    display: inline;
    color: rgba(64, 224, 208, 0.233);
}
