* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Azonix;
    src: url(azonix-font\Azonix-1VB0.otf);
}

html {
    background: #1E1E1E;
    color: white;
    text-rendering: optimizeLegibility;
}

a {
    color: rgb(133, 125, 125);
    text-decoration: none;
    font-family: Azonix;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.secItem {
    padding: 40px;
    display: flex;
}

.secItem li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

.mainsec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    padding: 20px;
}

#abmimg img {
    width: 600px;
    height: 400px;
    position: relative;
    left: 581px;
    bottom: 198px;
}

a:hover {
    color: rgba(248, 243, 243, 0.687);
}

element.style {
    will-change: transform;
    transform: perspective(1000px) rotateX(-4.79deg) rotateY(0.91deg) scale3d(1, 1, 1);
}

.headline {
    font-family: Azonix;
    font-weight: 300;
    color: #fcffff;
    font-size: 60px;
    line-height: 72px;
    padding-bottom: 0px;
    max-width: 800px;
}
  

span {
    color: white;
    max-width: 800px;

}

#highlight {
    background: rgba(64, 224, 208, 0.326);
    border-radius: 100px;
    padding: 10px;
}

.navbar img {
    display: inline;
    height: 50px;
    margin: 20px;
}

#aboutme {
    height: 200px;
}
#aboutme h2{
    margin-left: 50px;
}

#aboutme p {
    font-family: Lato;
    font-weight: 100;
    max-width: 400px;
    margin-left: 100px;
    margin-top: 100px;
}

#resume {
    height: 1000px;
}

#resume img {
    display: inline-block;
    height: 800px;
    width: 600px;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;

}

h2 {
    font-family: Azonix;
    font-size: large;
    font-weight: 400;
    color: #727a7a;
    font-size: 3rem;
}

#resume {
    background: rgba(64, 224, 208, 0.233);
    color: white;
    padding: 50px;
}

#resume h2 {
    color: white;
    font-size: 3rem;
    font-family: Azonix;}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
}

footer h2 {
    font-family: Azonix;
    font-size: large;
    font-weight: 400;
    color: #727a7a;
    font-size: 3rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    color: rgba(64, 224, 208, 0.358);
    padding: 30px;
}

.socials a:hover {
    color: rgba(248, 243, 243, 0.687);
}

.socials span {
    position: relative;
    bottom: 10px;
    padding: 30px;
    font-family: Azonix;
    font-weight: 300;
    display: inline;
    color: rgba(64, 224, 208, 0.233);
}